<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moe.finalproject">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.moe.finalproject.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.moe.finalproject.LivingRoom"></activity>
        <activity android:name="com.moe.finalproject.TV" />
        <activity android:name="com.moe.finalproject.Lamps" />
        <activity android:name="com.moe.finalproject.Blinding" />
        <activity android:name="com.mohibhero.finalproject.HouseSettings"></activity>
        <activity android:name="com.mohibhero.finalproject.GarageDetails"></activity>

        <activity android:name="com.mohibhero.finalproject.TemperatureDetails"></activity>
        <activity android:name="com.mohibhero.finalproject.WeatherForecastDetails"></activity>
        <activity android:name="com.emad.finalproject.Kitchen" />
        <activity android:name="com.emad.finalproject.KitchenFridge" />
        <activity android:name="com.emad.finalproject.KitchenMicrowave"></activity>
    </application>

</manifest>